apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-api
  labels:
    app: todo-api
    tier: backend
spec:
  revisionHistoryLimit: 1
  replicas: 2
  selector:
    matchLabels:
      app: todo-api
  template:
    metadata:
      labels:
        app: todo-api
        tier: backend
    spec:
      containers:
      - image: ghcr.io/dockersamples/todo-app-api:latest
        name: api
        env:
        - name: DATABASE_URL
          value: postgresql://todouser:todopass@todo-db:5432/tododb
        ports:
        - containerPort: 3000
        resources:
          limits:
            cpu: "1"
            memory: 256Mi
            ephemeral-storage: 128Mi
          requests:
            cpu: 20m
            memory: 64Mi
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5