apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
  labels:
    app: transmission
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: transmission
    spec:
      nodeSelector:
        kubernetes.io/hostname: talos-yha-nr5
      containers:
      - image: haugene/transmission-wireguard:main
        name: transmission
        securityContext:
          privileged: true
        envFrom:
        - configMapRef:
            name: transmission
        volumeMounts:
        - name: data
          mountPath: /data
        - name: wg-config
          mountPath: /wg-config
        ports:
        - containerPort: 9091
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
            ephemeral-storage: 64Mi
          requests:
            cpu: 1m
            memory: 64Mi
      securityContext:
        fsGroup: 1000
      volumes:
      - name: data
        hostPath:
          path: /var/mnt/transmission-cache
          type: DirectoryOrCreate
      - name: wg-config
        persistentVolumeClaim:
          claimName: transmission-wg-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission-wg-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  storageClassName: rook-cephfs